/* slider */

.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  background-color: #ffff;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 4px;
  background-color: var(--clr-primary-200);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:hover::before {
  background-color: var(--clr-primary-100);
}

input:checked + .slider {
  background-color: #ffff;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffff;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* button */

.button {
  background-color: var(--clr-primary-200);
  font-weight: var(--font-weight-bold);
  color: #ffff;
  text-align: center;
  cursor: pointer;
  padding-inline: clamp(0.9rem, -1.9011rem + 5.7754vw, 2.25rem);
  padding-block: 0.85rem;
  border-radius: 4px;
}

.button:hover {
  background-color: var(--clr-primary-100);
}

.button[data-type="square"] {
  padding-block: 0.85rem;
  padding-inline: 0.85rem;
}

.button[data-type="inverted"] {
  background-color: var(--clr-inverted-button-bg);
  color: var(--clr-inverted-button);
}

.button[data-type="inverted"]:hover {
  background-color: var(--clr-inverted-button-bg-hover);
}

/* close modal icon */

.close-button-container {
  position: absolute;
  cursor: pointer;
  top: 4%;
  right: 5%;
  color: var(--clr-neutral-500);
}

.close-button-container[place="register"] {
  top: 2%;
}

.close-button-container > svg {
  height: 28px;
}

/* custom checkbox */

.custom-checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -1px;
  left: 0px;
  height: 24px;
  width: 24px;
  background-color: var(--clr-neutral-400);
}

.custom-checkbox-container:hover input ~ .checkmark {
  background-color: var(--clr-neutral-400);
}

.custom-checkbox-container input:checked ~ .checkmark {
  background-color: var(--clr-primary-200);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 8px;
  top: 2px;
  width: 9px;
  height: 18px;
  border: solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* modal */

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.modal-content {
  position: relative;
  width: 335px;
  background-color: var(--clr-neutral-100);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-height: 50em) {
  .modal-content {
    height: 100vh;
    overflow: scroll;
  }
}

/* form component */

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.form-container .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  margin-top: 1.85em;
}

.form-container .login-form {
  margin-top: 3.35rem;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

.form-input-container > input {
  font-family: "Kumbh Sans", sans-serif;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--clr-neutral-400);
  padding-bottom: 0.85em;
  font-size: 1rem;
}

.form-submit-button {
  margin-top: 2em;
  min-width: 50%;
  margin-inline: auto;
}

.switch-form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2.5em;
  gap: 1rem;
  padding-bottom: 2.5em;
}

.switch-form-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 0.5rem;
}

input[type="password"] {
  font-family: Verdana;
  letter-spacing: 0.125em;
}

.user-form-error {
  visibility: hidden;
}

.user-form-input-field:invalid[data-focused="true"] + span {
  visibility: unset;
}

.form:invalid button {
  background-color: var(--clr-neutral-500);
  pointer-events: none;
}

.form:invalid .required-fields {
  visibility: unset;
}

.required-fields {
  text-align: center;
  visibility: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--clr-primary-switch-100);
  transition: background-color 5000s ease-in-out 0s;
}

/* menu pop-up */

.menu-popup {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  position: absolute;
  top: 100%;
  right: -80px;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  border-radius: 8px;
  padding: 0.5rem;
  padding-bottom: 0.85rem;
  padding-inline: 0rem;
  font-size: var(--font-size-080);
}

.menu-popup li {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 1rem;
  min-width: 140px;
  color: var(--clr-accent-200);
}

.menu-popup li:hover {
  background-color: var(--clr-primary-50);
}

/* loading-spinner */

.loading-spinner-container {
  padding-top: 1.5%;
}

.loading-spinner-text {
  margin-top: 2.5%;
  margin-left: 0.5%;
}
