.modal-content .submition-container {
    flex-direction: column;
    width: 100%;
    max-width: unset;
    align-items: unset;
    gap: 1.7rem;
}

.modal-content .modal-seperator {
    width: calc(100% + 2 * 1.7rem);
    height: 1px;
    background-color: var(--clr-neutral-400);
    margin-top: 0.5rem;
    margin-left: -1.7rem;
  }

.modal-content .location-filter-container {
    width: 100%;
    max-width: unset;
}

.modal-content .submition-container > div {
    width: 100%;
}

.modal-content .submition-container label .dynamic-text {
    font-size: unset;
}

.modal-content .submition-container .custom-checkbox-container {
    padding-left: 45px;
}







