.job-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: orange;
    height: 50px;
    width: 50px;
    border-radius: 16px;
    top:-20px;
}

.job-time-container span:first-of-type::after {
    content: '';
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background-color: var(--clr-accent-200);
    display: inline-block;
    margin-inline: 0.5rem;
}

.job-card {
    min-width: 330px;
    max-width: 350px;
    border-radius: 6px;
    padding: 2rem;
    position: relative;
    margin-inline: auto;
}

.job-time-container {
    margin-bottom: 1rem;
}

.job-title {
    color: var(--clr-primary-switch-100);
    margin-bottom: 0.5rem;
}

.job-company {
    margin-bottom: 2rem;
}